<button ion-button icon-start color="gold" (click)="startCountDown()" class="center-button silver-text">
  <ion-icon name="icon-tap"></ion-icon>
  <span *ngIf="!timeRunning">
    Gurdil dans 10 minutes !!!
  </span>
  <span *ngIf="timeRunning && timeShown && !timeShown.end">
    {{ timeShown.minutes }} min {{ timeShown.secondes }} s
  </span>
  <span *ngIf="timeShown && timeShown.end">
    {{ startGurdil }}
  </span>
</button>

<ion-card color="danger" [hidden]="!message_error">
  <ion-card-header>
    <button ion-button icon-right color="light" outline (click)="remove()">
      Erreur <ion-icon name="close"></ion-icon>
    </button>
  </ion-card-header>
  <ion-card-content [innerHtml]="message_error">
  </ion-card-content>
</ion-card>