.center-content {
  height: 100%;
  display: block;
  vertical-align: middle;
}
.margintop80 {
  margin: 80% auto;
}
.center-button {
  width: 80%;
  display: block;
  margin: 0 auto;
}
.silver {
  background-color: $silver;
}
.silver-text {
  color: $silver;
}
.gold-back {
  background-color: $gold3;
}