.loginBtn {
  width: 100%;
}
.silver {
  background-color: $silver;
}
.silver-text {
  color: $silver;
}
.gold-back {
  background-color: $gold3;
}
.dark-back {
  background-color: #4e555b;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 70%;
  height: 10%;

  text-align: center;
}
ion-content.gurdil {
  background-image: url("../../assets/imgs/gurdil3.svg");
  background-position: 10% 15%;
  background-repeat: no-repeat;
  background-size: 100%;
}