<ion-grid>
    <ion-row>
        <ion-col>
            <button ion-button icon-start color="dark">
                <ion-icon name="icon-gurdil"></ion-icon>
                Start game
            </button>
        </ion-col>
        <ion-col>
            <button ion-button icon-start color="dark">
                <ion-icon name="icon-lombard"></ion-icon>
                Left Icon
            </button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <button ion-button icon-start color="dark">
                <ion-icon name="icon-tap"></ion-icon>
                Left Icon
            </button>
        </ion-col>
        <ion-col>
            <button ion-button icon-start color="dark">
                <ion-icon name="icon-jonjon"></ion-icon>
                Left Icon
            </button>
        </ion-col>
    </ion-row>
</ion-grid>
