<ion-content padding class="gold-back">


  <div class="center">
    <button *ngIf="!nain" ion-button color="gold" (click)="Login()" title="Page de Connexion" class="silver-text loginBtn">
      <ion-icon name="icon-gurdil"></ion-icon>
      Login
    </button>
  </div>

  <div *ngIf="nain">
    <ion-list>
      <ion-list-header>
        Bières
        <ion-badge item-end color="danger">{{beers}}</ion-badge>
      </ion-list-header>
      <ion-item>
        <ion-range min="0" max="12" step="1" [(ngModel)]="beers" color="silver">
          <ion-icon name="icon-beer" range-right color="danger"></ion-icon>
        </ion-range>
      </ion-item>
    </ion-list>

    <gurdil-10-min *ngIf="nain"></gurdil-10-min>

  </div>


</ion-content>
