<ion-content padding class="gold-back page-home">


  <div class="center">
    <button *ngIf="!nain" ion-button color="gold" (click)="Login()" title="Page de Connexion" class="silver-text loginBtn">
      <ion-icon name="icon-gurdil"></ion-icon>
      Login
    </button>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-row>
          <ion-col col-6 [hidden]="!nain">
            <button ion-button color="gold" class="silver-text loginBtn" (click)="addBeer()">
              <ion-icon name="icon-beer"></ion-icon>+
            </button>
          </ion-col>
          <ion-col col-6 [hidden]="!nain">
            <button ion-button color="gold" class="silver-text loginBtn" (click)="delBeer()">
              <ion-icon name="icon-beer"></ion-icon>-
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-6 [hidden]="!nain">
        <ion-list-header>
          Bières
          <ion-badge item-end color="danger">{{beers}}</ion-badge>
        </ion-list-header>
      </ion-col>
    </ion-row>
    <ion-row><ion-col col-12></ion-col></ion-row>
    <ion-row><ion-col col-12></ion-col></ion-row>
    <ion-row>
      <ion-col col-12 text-center="">
        <div *ngIf="nain">
          <timercountdown #gurdil10min [hidden]="!nain" [listePLayers]="liste" [timeLeft]="3"></timercountdown>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ng-container *ngFor="let nain of liste">
      <addingbeers [nain]="nain"></addingbeers>
    </ng-container>
  </ion-grid>


</ion-content>
