<ion-row [hidden]="!nain">
  <ion-col col-4>
    <button ion-button color="light" outline>{{ nain.name }}</button>
  </ion-col>
  <ion-col col-2>
    <button ion-button icon-only color="gold" class="silver-text loginBtn" (click)="addBeer()">
      <ion-icon name="icon-beerplus"></ion-icon>
    </button>
  </ion-col>
  <ion-col col-2>
    <button ion-button icon-only color="gold" class="silver-text loginBtn" (click)="rmBeer()">
      <ion-icon name="icon-beermin"></ion-icon>
    </button>
  </ion-col>
  <ion-col col-2>
    <button ion-button icon-only color="gold" class="silver-text loginBtn" (click)="deletePlayer()">
      <ion-icon name="trash"></ion-icon>
    </button>
  </ion-col>
  <ion-col col-2>
    <button ion-button color="danger">{{beers}}</button>
  </ion-col>
</ion-row>