<ion-grid class="chrono">
  <ion-row>
    <ion-col>
      {{ timeShown.minutes }}
    </ion-col>
    <ion-col>
      <span> : </span>
    </ion-col>
    <ion-col>
      {{ timeShown.secondes }}
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid *ngIf="timeShown.end">
  <ion-row>
    <ion-col text-center>
      <button ion-button large (click)="resetGurdil()">
        <ion-icon name="icon-dwarf"></ion-icon>
        Done!
      </button>
    </ion-col>
  </ion-row>
</ion-grid>
<audio #audioGurdil src="/assets/sounds/728.mp3" preload="metadata"></audio>