<ion-row>
  <ion-col col-4>
    <button ion-button color="dark">
      {{ nain.name }}
    </button>
  </ion-col>
  <ion-col col-2>
    <button ion-button color="danger" class="light">
      {{ nain.beers }}
    </button>
  </ion-col>
  <ion-col col-2>
    <button ion-button icon-only color="dark" class="silver-text" (click)="randLombard()">
      <ion-icon name="icon-lombard"></ion-icon>
    </button>
  </ion-col>
  <ion-col col-2>
    <button ion-button icon-only color="gold" class="silver-text">
      <ion-icon name="icon-beer"></ion-icon>
    </button>
  </ion-col>
  <ion-col col-2>
    <button ion-button icon-only color="gold" class="silver-text">
      <ion-icon name="icon-beer"></ion-icon>
    </button>
  </ion-col>
</ion-row>