<ion-row>
  <ion-col col-2>
    {{ nain.name }}
  </ion-col>
  <ion-col col-10>
    <ion-fab>
      <button ion-fab color="gold" text-center><ion-icon name="arrow-dropright"></ion-icon></button>
      <ion-fab-list side="right">
        <button ion-fab color="gold"><ion-icon name="logo-facebook"></ion-icon></button>
        <button ion-fab color="gold"><ion-icon name="logo-twitter"></ion-icon></button>
        <button ion-fab color="gold"><ion-icon name="logo-vimeo"></ion-icon></button>
        <button ion-fab color="gold"><ion-icon name="logo-googleplus"></ion-icon></button>
      </ion-fab-list>
    </ion-fab>
  </ion-col>
</ion-row>